/* custom-tabs.css */
.custom-tabs {
    border-bottom: 1px solid #dee2e6;
}

.custom-tabs .custom-tab-item {
    position: relative;
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 2px; /* Optional: Add some spacing between tabs */
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 4px 4px 0 0;
}

.custom-tabs .custom-tab-item a {
    display: block;
    padding: 0.75rem 1.25rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.custom-tabs .custom-tab-item a:hover,
.custom-tabs .custom-tab-item a:focus {
    color: #0056b3;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.custom-tabs .custom-tab-item.active a {
    color: #fff !important;;
    background-color: #007bff !important;;
    border-color: #007bff !important;;
	
}

.custom-tab-content {
    border: 1px solid #dee2e6;
    border-radius: 0 4px 4px 4px;
    padding: 1rem;
}

.custom-tab-pane {
    display: none;
}

.custom-tab-pane.active {
    display: block;
}


.tab-content>.tab-pane {
	display: none
}

.tab-content>.active {
	display: block
}











